@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Autor @Carlos Orellano Rondan - Orellano428@gmail.com
 https://github.com/Cali99-droid*/
:root{
    --primario: rgb(37,71,106);
    --primarioa: rgb(32, 255, 244);
}
html{
    box-sizing: border-box;
    font-size: 63.5%;/** 1rem 1px*/
}

*, *:before, *:after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.no-margin{
    margin: 0;
}
.graf{
    text-align: center;
    font-size: 1.5rem;
    color: var(--primario);
}
.no-padding{
    padding: 0;
}

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.contenido-principal{
   
    grid-template-columns: 1fr ;
    height: 100vh;
    
}

@media (min-width: 768px){
    .contenido-principal{
        display: grid;
        grid-template-columns: 1fr  6fr;
        height: 100vh; 
    }
}


.barra{
    background-color: rgb(37,71,106);
    text-align: center;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.9);
    z-index: 1;

}

.barra__logo{
    width: 95%;
    margin: 3rem 0;
    color: #fff;

}

.img-unasam{
    
    max-width: 50%;
    
    margin-top: 1rem;

}
.inicio{
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 95%;
}
/*opciones*/
.barra__opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  

}
.opcion {
  display: flex;
  border: 0.5px solid rgb(145, 142, 142);
  border-radius: 5px;
  width: 90%;
  padding: 1rem 1rem;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  color: #fff;
  fill: #fff;
  background-color: rgb(37,71,106) ;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: normal;
  
}

.opcion:hover{
    background-color: #ffffff;
    color: black;
    fill: black;
    
}

.opcion__log{
   width: 15%;
   fill: inherit;
}



.gestion{
    background-color: rgb(236, 239, 344);
    display: flex;
    flex-direction: column;   
}

.gestion__nombre{
    background-color: #fff;
    padding: 2rem 3rem;
    display: flex;
    justify-content: flex-start;
  
  
}

.gestion__titulo{
    font-weight: 700;
    font-size: 2.3rem; 
    color:  rgb(37,71,106);;
}
.gestion__cuerpo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
    
}
@media (min-width: 768px) {
    .gestion__cuerpo{
        padding: 0 2rem;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

   
        
}

.gestion__cuerpo--admin{
    margin-top: 0;
}

.gestion__grafico{
    grid-column: 1 / 4;
    
}
.gestion__grafico{
   background-image: url("../img/portada.jpg"); 
   background-repeat: no-repeat;
   background-size:cover;
   background-position: top;
   background-origin: content-box;
}

.card__img--nombre{
   margin-top: 3rem;
   color: rgb(37,71,106);
}

.card--admin{
    margin-top: 3rem;
    color: #fff;
 }

.card__img--perfil{
    height: 10rem;
    max-width: 100%;
}

.card{
    width: 100%;
    background-color:var(--primario);
    text-align: center;
    height: 26rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    color:#fff;
}

.card--admin{
    background-color: #fff;
    color:var(--primario);
    font-weight: bold ;
    height: auto;
 }
.p_rol{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
  }

.card__img{
    display: flex;
    flex-direction: column; 
    gap: .6rem
 }
 
.card__port{
    max-width: 100%;
    height: 20rem;
    border-radius:  10px 10px 0px 0px;
}

.card__enlace{
 
    font-size: 1.5rem;

}




/*Login*/
.main__login{
    height: 100vh;
}

.contenido{
  
    display: flex;
    justify-content: center;



}

.contenido__titulo{
    margin-top: 7rem;
    text-align: center;
    font-size: 1.8rem;
    color: rgb(37,71,106);
}


.titulo--log{
        font-weight: normal;
}

.contenido__imagen{
    max-width: 100%;
    height: 45rem;

}

.header{
    margin-top: 5rem;
    text-align: center;
    height: 20rem;
    margin-bottom: 3rem;

}
.entrada{   /*MOD*/ 
    margin-top: -4rem; 
    padding: 0 5rem;
    
}

.entrada h1{
    font-size: 5rem;
    color: rgb(37,71,106);
    margin-bottom: 1rem;
    
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    color: black;
}

.campo__label{
    flex: 0 0 1rem;
    text-align: left;
    padding-right: 2rem;
    font-size: 2.5rem;

}
.campo__field{
    height: 2.5rem;
    padding: 2rem;
    font-size: 2rem;
}

.campo__field--select{
    height: 4rem;
    font-size: 2rem;
}

.boton{
    padding: 2rem;
    font-size: 2.2rem;
    background-color:  #54B1F4;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.boton:hover{
    background-color: var(--primario);
}

.exito, .error{
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 2rem;
    background-color: greenyellow;
    padding: 0.8rem;
    margin-top: 4rem;
    text-transform: uppercase;
    
}
.error{
    margin: 0;
    background-color: red;

}
/*Areas*/
.gestion__area{
    
    flex-direction: column;
    gap: 2rem;
 

}

@media (min-width: 768px) {
    .gestion__area{
        display: flex;
        justify-content: space-between;
        padding: 0rem 6rem 0rem 6rem;
        align-items: center;
        flex-direction: row;
    
    }
}



.boton--dash{
    height: 5rem;
    width: 20rem;
    background-image: url('../img/data.png');
    background-size: 5rem;
    background-position-x: 15rem;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    margin-top: 2rem;
}  

@media (min-width: 768px) {
    .boton--dash{
        height: 5rem;
        width: 10rem;
        background-image: url('../img/data.png');
        background-size: 5rem;
        background-position-x: 4rem;
        background-repeat: no-repeat;
        border: none;
        background-color: transparent;
    }  
}

.btn--hist{
    max-width: 100%;
    align-items: center;
    padding: 2rem 0rem;
    
}

.btnH{
   width: 100%;
  
}







.busqueda{
     
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.boton--buscar{
    padding: 1rem;
    font-size: 2.2rem;
    background-color:  #54B1F4;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: 4rem;
}

.campo__buscar{
    padding: 1rem;
    font-size: 2rem;
    height: 4rem;
}

.campo__med{
    gap: 1rem;
    color: inherit;
}

.dni__med{
    text-align: center;
    margin-top: 2rem;
}

.campo:last-of-type{
   margin-bottom: 0;
}

.grupo{
    border-color: 1px solid var(--primario);
    color: var(--primario);
}
/*tabla*/


.contenedor__tabla{
    height: 450px !important;
    overflow: auto;
    margin-top: 4rem;
    font-size: 1.5rem;
}
.tabla {
    border-collapse: collapse;
  
    width: 100%;

}

td {
    padding: 8px;


  }


.tabla th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primario);
  color: white;
  text-transform: uppercase;
}

.completado{
    background-color: #4CAF50;

}

.pendiente {background-color: #ff9800;}

.center{
    text-align: center;
}

.label {
    border-radius: 5px;
    color: white;
    padding: 6px;
    max-width: 95%;
    font-size: 1rem;
  }
.action{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    gap: .5rem;
}
tr:hover {background-color:#ffffff;}

.tabla .act{
    text-align: center;
}

.boton--editar, .boton--eliminar, .boton--reporte{
    height: 2rem;
    width: 3rem;
    background-image: url('../img/bx-edit.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.boton--eliminar{
    background-image: url('../img/trash.svg');
}

.boton--reporte{
    background-image: url('../img/doc.svg');
}




.fondo_chico{
    width: 12rem;
    
}


/*form*/
.formulario__entrada{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .formulario__entrada{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5rem;
    }

}

.formulario__entrada--med{
    display: flex;
    flex-direction: column;

}
@media (min-width: 768px) {
    .formulario__entrada--med{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        padding: 15px;

    }
}

.medico{
    font-size: 2rem;
}

.campo__field-med{
    height: 3.5rem;
    font-size: 1.5rem;
}

.campo__field--textarea{
    height: 20rem;
}

.boton--guardar{
    background-color: var(--primario);
  
}

.boton--guardar:hover{
    opacity: .9;

}

.boton--nuevo, .boton--no_eliminar{
     
    padding: 1.5rem;
    font-size: 1.8rem;
    background-color: rgb(114, 219, 73);
}
.boton--nuevo{
    padding: 1rem;

}
.boton--no_eliminar{
    width: 20%;

}
.boton--negar{
    width: 20%;
    padding: 1rem;
    font-size: 1.8rem;
    background-color: rgb(255, 0, 0);
}
.boton--nuevo:hover{
   
    background-color: rgb(114, 219, 73);
    opacity: .6;
}



.guardar_psi{
    grid-column: 2/ 3;

}

.pregunta{
    text-align: center;
    padding: 2rem 2rem;
    color: var(--primario);
    font-size: 3rem;
}

.pregunta__opciones{
     width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

.perfil{
    height:  100vh;
    padding: 4rem;
    font-size: 1.5rem;
}
